.box {
    display: inline-block;
    /*Controla */
    width: 100px;
    /*Ancho*/
    height: 100px;
    /*Altura*/
    background: pink;
    /*Fondo*/
    color: white;
    /*Color de texto*/
}

#three {
    position: absolute;
    top: 20px;
    left: 20px;
    background: palevioletred;
}

.texto1 {
    width: 600px;
    height: 400px;
    *overflow: visible;
    padding-left: 150px;
}
